.prodpage {
    padding-top: 2rem;
}

.app_prod3 {
    padding: 6rem 0rem 0rem 0rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(7, 91, 11);
    animation: app_prod3 1s ease-in-out infinite;
}

@keyframes app_prod3 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.anim {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-left: 30px;
  }
.pageanim{padding-top: 20px;}
  .animal {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .animal h6 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    color: black;
  }

  .animal h2 {
    margin-top: 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size:50px;
  }
  .sectitle{
    margin-bottom: 50px;
    margin-top: 50px;
     font-weight: bold;
     text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  .animalimg {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .animal p {
    margin: 10px 0;
  }
  
  .animal a {
    text-decoration: none;
  }
  
  .animal a:hover {
    text-decoration: underline;
  }
  
  .animal h5 {
    margin-top: 20px;
    font-weight: bold;
  }
  .description {
    position: relative;
  }
  
  .description p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .description p.expanded {
    -webkit-line-clamp: unset;
  }
  
  .popup {
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.223);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
  }
  
  .popup-content {
    background-color: #ffffff;
    padding: 20px;
    max-width: 500px;
    max-height: 75vh;
    overflow-y: auto;
   
}
.popup-content h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.popup-content p {
    padding-top: 10px;
}

.close-popup {
    position: relative;
    background-color: rgb(230, 34, 77);
    border-radius: 5px;
    float: right;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  .close-popup::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  .close-popup:hover::before {
    width: 100%;
  }
  .popup-image {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
  }
  .popshiish{color: black;}
  .seemorebut {
    width: 9em;
    height: 2.7em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .seemorebut::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
z-index: -1;
   }
   
   .seemorebut:hover::before {
    width: 9em;
   }