.header {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color:#708841f3;
    /*background-color: rgba(186, 182, 182, 0.619);*/
    z-index: 1;
}
.nav-menu {
    display: flex;
    list-style: none;
    padding-top: 2px;
}
.but {
    text-decoration: none;
    color:  rgb(8, 161, 31);
}
.but:hover {
    transition: 0.3s;
    color: white;
}
.nav-menu li {
    padding-right: 25px;
    padding-top: 10px;
}

.nav-menu a {
    font-size: 1.2rem;
    text-decoration: none;
}
.custom-icon{font-size: 1.5rem;}
.nva,.nva2 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    
}

.nva:hover,.nva2:hover{
    color: rgb(55, 103, 62);
    transition: 0.2s;
}

.logo {
    width: 130px;
    height: auto;
    padding-left: 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f5f3;
    padding: 10px 16px;
    text-decoration: none;
}

.menudrop {
    color: black;
}

.menudrop:hover {
    color: rgb(55, 103, 62);
    transition: 0.s
}

li:hover .dropdown-menu {
    display: block;
    
}
.nva2::after {
    content: "";
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-left: 3px;
    vertical-align: middle;
  }
  li:hover .nva2::after {
    border-top: 5px solid  rgb(55, 103, 62);
  }

.button1 {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 3px solid rgb(55, 103, 62);
    border-radius: 15px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: rgb(55, 103, 62);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.button1:before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color:  rgb(55, 103, 62);
    z-index: -1;
}

.button1:hover,.button1:focus {
    color: white;
}

.button1:hover:before,.button1:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 10px;
}
.but2{padding-left:48rem ;}
@media screen and (max-width: 600px) {
    .header {
      height: 50px;
    }
    
    .nav-menu {
      padding-top: 5px;
    }
    
    .logo {
      width: 120px;
    }
    
    .dropdown-menu {
      padding: 5px 10px;
    }
    
    .button1 {
      font-size: 12px;
    }
    
    .checkout{float: right;padding-left: 42rem;}
  }
  
  /* For screens between 600px and 1280px */
  @media screen and (min-width: 600px) and (max-width: 1000px) {
    .header {
      height: 60px;
    }
    
    .nav-menu {
      padding-top: 7px;
    }
    
    .logo {
      width: 140px;
    }
    
    .dropdown-menu {
      padding: 7px 12px;
    }
    
    .button1 {
      font-size: 13px;
    }
    
    .checkout{float: right;padding-left: 10rem;}
  }

  /* For screens larger than 1280px */
  @media screen and (min-width: 1280px) {
    .but1{padding-left: 2rem;}
    .checkout{float: right;padding-left: 42rem;}
  }
  